# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
src/c/yamssAbortDmSession
src/c/yamssDirectoryNotify
src/c/yamssFileStatus 
src/c/yamssGetDmAttr
src/c/yamssInvalidateTapeCopy
src/c/yamssRecall
src/c/yamssRecallDaemon
src/c/yamssRemoveDmAttr
src/c/yamssRemoveWrapper
src/c/yamssRm
src/c/yamssSetDmAttr
src/c/yamssShowPoolOccupancy 
src/c/yamssSigTermUnblock
src/c/yamssStubbify
*.class
